*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .25s ease;
}
:root{
    --card-text-gradient: linear-gradient(120deg, magenta, cyan, yellow);
    --card-move-gradient: 0%;
    --card-transition: all .5s ease;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Kanit', sans-serif;
}
body{
    background-color: #323232;
    color: whitesmoke;
    padding: 6rem;
}
main{
    display: grid;
}
h1{
    font-size: 6.4rem;
    font-weight: 700;
}
h2{
    font-size: 4.8rem;
    font-weight: 500;
}
a{
    text-decoration: none;
}



.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    justify-self: center;
    
    border-radius: 1rem;
    box-shadow: inset .4rem .4rem .8rem 0 black;
    
    width: 90vw;

    padding: 2rem 2.5vw;
}
.card{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: white solid 3px;
    border-radius: 1rem;
    box-shadow: .8rem .8rem 1.6rem 0 black;
    
    padding: 2rem;
    margin: 2rem 5rem;
    
    transition: var(--card-transition);
}
.card > h2{
    position: relative;
    background: var(--card-text-gradient);
    background-position: var(--card-move-gradient);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.card > img{
    position: absolute;
    inset: 0;
    z-index: -1;
    
    width: 100%;
    transform-origin: center;
    
    filter: blur(.25rem) hue-rotate(180deg) invert(25%) saturate(300%) brightness(50%);
    animation: imageAbstractMove var(--rnd) infinite alternate;
}
.card .flare{
    position: absolute;
    top: -25%;
    left: 0;
    transform-origin: center;
    background-color: white;

    width: 2rem;
    height: 10rem;
    
    opacity: 0;
    transform: rotate(25deg) translateX(-200%) scale(5)
}
.card > *{
    transition: var(--card-transition);
}
.card:hover{
    transform: skewX(-3deg) scale(1.05);
    box-shadow: 1.6rem 1.6rem 2rem 0 #0009;
}
.card:hover h2{
    --card-move-gradient: 100%;
}
.card:hover h2:nth-child(2){
    transform: scale(1.2) translateY(-1.25rem);
}
.card:hover .flare{
    opacity: .3;
    top: 114%;
    left: 114%;
    transform: rotate(25deg) translateX(-200%) scale(5);
}

.rnd1 > img{
    --rnd: 31.4s;
}
.rnd2 > img{
    --rnd: 15.9s;
}
.rnd3 > img{
    --rnd: 26.5s;
}

@keyframes imageAbstractMove {
    0%{
        transform: scale(3) rotate(0deg);
    }
    100%{
        transform: scale(6) rotate(36deg);
    }
}