:root{
    --color: rgb(255, 255,255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1vh;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2rem;

    height: 100vh;
    width: 100vw;
}
h3{
    text-align: center;
    
    width: 50vw;
    height: 30vh;
    
    filter: brightness(.25) opacity(.3);
}
button{
    background-color: black;
    color: white;

    border: none;
    border-radius: 2rem;
    text-decoration: none;

    padding: 1rem;
    
    filter: opacity(.5);
}